$color-secondary: #dda15e;
$color-primary: #000000;
$color-tertiary: #111;
$color-white: #fff;
$color-offwhite: #eee;
$color-text: #555;
$font-display: "Quicksand", sans-serif;
$font-heading: "Oswald", sans-serif;

$lg: 62.5em;
$md: 50em;
$sm: 31.25em;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media only screen and (max-width: $lg) {
    font-size: 50%;
  }

  @media only screen and (max-width: $sm) {
    font-size: 43.75%;
  }
}

body {
  box-sizing: border-box;
  font-family: $font-display;
  font-size: 1.6rem;
  line-height: 1.6;
  color: $color-text;
  font-weight: 400;
}

.hero {
  &__container {
    max-width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.85fr 1.15fr 1fr;

    @media only screen and (max-width: $lg) {
      grid-template-columns: 0 1.25fr 1fr;
    }

    @media only screen and (max-width: $md) {
      grid-template-columns: 1fr;
      grid-template-rows: 1.3fr 0.7fr;
    }
  }

  &__bg-black {
    position: relative;
    background-color: $color-primary;

    @media only screen and (max-width: $md) {
      display: none;
    }
  }

  &__heading {
    position: absolute;
    max-width: 50rem;
    top: 20%;
    right: -41%;
    color: $color-white;
    font-size: 6rem;
    font-family: $font-heading;
    text-transform: uppercase;
    line-height: 1;
  }

  &__heading--2 {
    display: none;

    @media only screen and (max-width: $lg) {
      position: absolute;
      display: block;
      max-width: 50rem;
      top: 22%;
      left: -10%;
      color: $color-primary;
      font-size: 6rem;
      font-family: $font-heading;
      text-transform: uppercase;
      line-height: 1;
    }

    @media only screen and (max-width: $md) {
      position: unset;
      font-size: 8rem;
      max-width: 75%;
      margin: 2rem auto;
      margin-top: 4rem;
    }

    @media only screen and (max-width: $sm) {
      font-size: 6rem;
    }
  }

  &__image {
    background-image: url("./images/hero-image.jpg");
    background-size: cover;
    background-position: center;
  }

  &__content {
    position: relative;
  }

  &__content-container {
    position: absolute;
    top: 40%;
    left: -10%;
    max-width: 35rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-weight: 500;

    @media only screen and (max-width: $lg) {
      top: 42%;
      left: -10%;
    }

    @media only screen and (max-width: $md) {
      position: unset;
      margin: 0 auto;
      max-width: 75%;
    }
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    color: $color-white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.2s;
    padding: 2rem 3rem;
    background-color: $color-primary;

    &:hover {
      transform: translateX(1rem);
      background-color: $color-secondary;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.main {
  &__container {
    padding: 12rem 0;
    width: 80vw;
    height: 200vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(13, 1fr);
    gap: 3rem;

    @media only screen and (max-width: $lg) {
      width: 90vw;
      gap: 2rem;
      padding: 10rem 0;
    }

    @media only screen and (max-width: $md) {
      height: 250vh;
      width: 75vw;
      gap: 3rem;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(15, 1fr);
    }
  }

  &__content--1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 4;
    align-self: center;

    @media only screen and (max-width: $md) {
      grid-column: 1 / -1;
      grid-row: 4 / span 2;
      width: 75%;
    }
  }

  &__heading--1 {
    font-size: 4rem;
    line-height: 1;
    color: $color-primary;
    text-transform: uppercase;
    font-family: $font-heading;
    margin-bottom: 1.5rem;

    @media only screen and (max-width: $md) {
      font-size: 6rem;
    }

    @media only screen and (max-width: $sm) {
      font-size: 4rem;
    }
  }

  &__image--1 {
    background-image: url("./images/main-image-1.jpg");
    background-position: center;
    background-size: cover;
    grid-column: 4/-1;
    grid-row: 1 / span 4;

    @media only screen and (max-width: $md) {
      grid-column: 1 / -1;
      grid-row: 1 / span 3;
    }
  }

  &__image--2 {
    background-image: url("./images/main-image-2.jpg");
    background-position: bottom;
    background-size: cover;
    grid-column: 1 / span 4;
    grid-row: 5 / -1;

    @media only screen and (max-width: $md) {
      grid-column: 1 / -1;
      grid-row: 6 / span 4;
    }
  }

  &__image--3 {
    background-image: url("./images/main-image-3.jpg");
    background-position: center;
    background-size: cover;
    grid-column: 5 / -1;
    grid-row: 5 / span 4;

    @media only screen and (max-width: $md) {
      grid-column: 1 / -1;
      grid-row: 10 / span 3;
    }
  }

  &__content--2 {
    grid-column: 5 / -1;
    grid-row: 9 / span 5;
    background-color: $color-tertiary;
    padding: 2rem 3rem;
    color: $color-offwhite;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media only screen and (max-width: $md) {
      grid-column: 1 / -1;
      grid-row: 13/-1;
    }
  }

  &__heading--2 {
    font-size: 4rem;
    text-transform: uppercase;
    font-family: $font-heading;
    margin-bottom: 1.5rem;
    line-height: 1;

    @media only screen and (max-width: $md) {
      font-size: 6rem;
      width: 75%;
    }

    @media only screen and (max-width: $sm) {
      font-size: 4rem;
    }
  }

  &__content-para--2 {
    opacity: 0.7;

    @media only screen and (max-width: $md) {
      width: 75%;
    }
  }
}

.footer {
  &__container {
    width: 100vw;
    padding: 5rem 10rem;
    background-color: $color-tertiary;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    gap: 3rem;

    @media only screen and (max-width: $lg) {
      gap: 1.5rem;
    }

    @media only screen and (max-width: $md) {
      grid-template-columns: 1fr;
      gap: 3rem;
    }

    @media only screen and (max-width: $sm) {
      padding: 5rem 5rem;
    }
  }

  &__heading {
    color: $color-offwhite;
    font-size: 3rem;
    font-family: $font-heading;
    line-height: 1;
    text-transform: uppercase;
  }

  &__para {
    @media only screen and (max-width: $md) {
      width: 75%;
    }

    @media only screen and (max-width: $sm) {
      width: 100%;
    }
  }

  &__social-icons {
    color: $color-offwhite;
    font-size: 3rem;
    justify-self: end;
    display: flex;
    gap: 1.5rem;
    align-self: flex-start;

    @media only screen and (max-width: $md) {
      justify-self: start;
    }

    a:link,
    a:visited {
      color: $color-offwhite;
      text-decoration: none;
      transition: all 0.3s;

      &:hover {
        transform: translateY(-4px);
      }
    }
  }
}
